/*////////////////////*/
/*////////////////////*/
/*////////////////////*/
/*/// RESET STYLES ///*/
/*////////////////////*/
/*////////////////////*/
/*////////////////////*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 0;

  }
  
/*////////////////////*/
/*////////////////////*/
/*////////////////////*/
/*// GLOBAL STYLES ///*/
/*////////////////////*/
/*////////////////////*/
/*////////////////////*/

  .container p.card-text {
  padding: 0px 0px 0px; 
  }

  body {
    margin-top: 2em;
    font-family: 'Play', sans-serif;
    font-size: 1em;
   
    background-color: #f5f5f5;
    color: #000;
    transition: background-color 0.3s ease;
  }
  
  .container p {
    max-width: 600px;
    padding-left: 2em;
    padding-right: 2em;
    
    font-weight: 300;
   
  }
 
  .container {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    padding: .2em;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    flex-grow: 0;
  }

    footer {
      text-align: center;
    }

    hr {
      width: 100%;
      height: 3px;
      background-image: linear-gradient(to right, #2697d8,  #7ed957, #ff5757);
      border: none;
      margin: 0 auto;
    }
      
  h1 {
    font-family: 'Play', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
 
  nav {
    
    background-image: linear-gradient(to right, #2697d8,  #7ed957, #ff5757);
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

   nav ul li {
    justify-content: space-evenly;
   }

  nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: none;
  }
  
  nav ul li a:hover {
    color: #fff;
    border-radius: 5px;
    background-color: #333;
    transition: background-color 0.5s ease;
  }
  
  .card {
    flex: 0 0 calc(50% - 10px);
    margin: 5px;
    padding: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: space-evenly;
    flex-grow: 0;
  }
  
  .game-row .card {
    border: 2px solid #7ed957;
    box-shadow: 0px 0px 5px #7ed957;
  }

  .game-row .card .project-image {
    border: 1px solid #7ed957;
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

  .recent-row .card {
    border: 2px solid #2697d8;
    box-shadow: 0px 0px 5px #2697d8;
  }

  .recent-row .card .project-image {
    border: 1px solid #2697d8;
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

.software-row .card {
  border: 2px solid #ff5757;
  box-shadow: 0px 0px 5px #ff5757;
  border-radius: 12px;
  overflow: hidden;
}

.software-row .card .project-image {
  border: 1px solid #ff5757;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

  .card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .btn {
    display: inline-block;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 0.5em;
    margin: 2px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.5s ease;
  }
  
  .btn:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #333;
    transition: background-color 0.5s ease;
  }

  .btn-expand {
    padding: 10px 20px;
    background-color: #2697d8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn-expand:hover {
    background-color: #333;
  }
  
footer {
  color: white;
  background: linear-gradient(to right, #2697d8,  #7ed957, #ff5757);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: #e52e71;

}

  .row {
    display: none;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    padding: .2em;
    border-radius: 12px;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    
  }
  
  .col-sm-12 {
    flex: 1 0 100%;
    padding: .2rem;
  }
  
  @media (max-width: 480px) {
    .col-md-6 {
      flex: 0 0 calc(50%);
    }
  }
  @media (min-width: 576px) {
    .col-md-6 {
      flex: 0 0 calc(50%);
      padding: .2rem;
    }
  }
  @media screen and (max-width: 768px) {
    .col-md-6 {
      flex: 0 0 calc(50%);
      padding: .2rem;
    }
  }
  @media (min-width: 992px) {
    .col-lg-4 {
      flex: 1 0 33.33%;
      padding: .2rem;
    }

   
  }

  .row {
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 0;
  }



/*////////////////////*/
/*////////////////////*/
/*////////////////////*/
/*/ DARK MODE STLYES /*/
/*////////////////////*/
/*////////////////////*/
/*////////////////////*/



body.dark-mode {
    background-color: #000;
    color: #fff;
  }
  
  nav.dark-mode {
    background-color: #000;
  }
  
  nav.dark-mode ul li a {
    color: #fff;
  }
  
  h1.dark-mode {
    color: #fff;
  }
  
  .card.dark-mode {
    background-color: #000;
    color: #fff;
    box-shadow: none;
  }
  
  .card.dark-mode .card-title {
    color: #fff;
  }
    
  .btn.dark-mode {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
  
  .btn.dark-mode:hover {
    background-color: #eee;
    cursor: pointer;
  }

  .btn.dark-mode {
    background-color: #eee;
  }

  .btn-group .recent-btn.dark-mode {
  background-color: #000;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}


/*////////////////////*/
/*////////////////////*/
/*////////////////////*/
/*/// BUTTON GROUP ///*/
/*////////////////////*/
/*////////////////////*/
/*////////////////////*/

#toggle-btn {
  cursor: pointer;
}

  .btn-group {
  display: flex;
  flex:auto;
  justify-content: center;
  margin: 20px 0;
}

.btn-group .btn.game-btn {
  margin-right: 10px;
  border: 2px solid #7ed957;
  box-shadow: 0px 0px 5px #7ed957;
}

.btn-group .btn.recent-btn {
  margin-right: 5px;
  border: 2px solid #2697d8;
  box-shadow: 0px 0px 5px #2697d8;
}

.btn-group .btn.software-btn {
  border: 2px solid #ff5757;
  box-shadow: 0px 0px 5px #ff5757;
}

.btn-group .btn {
  background-color: #000;
  border: 2px solid #ccc;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.btn-group .btn:hover {
  background-color: whitesmoke;
  color: #000;
}

.btn-group .btn.active {
  background-color: #f5f5f5;
  color: #000;
}

.row.active {
  display: flex;
  flex-wrap:wrap;
  flex-grow: 0;
}

.theme-switch-wrapper {
align-items: center;
  align-content: center;
  justify-content: center;
}

.pics {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}
.pics img {
  border-radius: 10px;
  border: 1px solid white;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.container>a>img {
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
}